Utils/Cache.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cache">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="players" maxOccurs="1" minOccurs="0" />
        <xs:element ref="teams" maxOccurs="1"  minOccurs="0" />
        <xs:element ref="matches" maxOccurs="1"  minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="player" nillable="true">
    <xs:complexType>
      <xs:attribute name="id" type="xs:unsignedLong" use="required" />
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="team"  nillable="true">
    <xs:complexType>
      <xs:attribute name="id" type="xs:unsignedShort" use="required" />
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="match"  nillable="true">
    <xs:complexType>
      <xs:attribute name="id" type="xs:unsignedInt" use="required" />
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="players" nillable="true">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded"  minOccurs="0"  ref="player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="teams"  nillable="true">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded"  minOccurs="0" ref="team" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="matches" nillable="true">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded"  minOccurs="0" ref="match" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>