Utils/PlayerTL.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="TLPlayers">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="TLPlayer" />					
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TLPlayer">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Position" type="xs:string" />
				<xs:element name="Name" type="xs:string" />
				<xs:element name="Price" type="xs:unsignedInt" />
				<xs:element name="Date" type="xs:string" />
				<xs:element name="Deadline" type="xs:string" />
				<xs:element name="ValueIndex" type="xs:decimal" />
				<xs:element name="Profitability" type="xs:decimal" />
				<xs:element name="Total" type="xs:decimal" />
				<xs:element name="Def" type="xs:decimal" />
				<xs:element name="Off" type="xs:decimal" />
				<xs:element name="OfAb" type="xs:decimal" />
				<xs:element name="Shoot" type="xs:decimal" />
				<xs:element name="Reb" type="xs:decimal" />
				<xs:element name="RebO" type="xs:decimal" />
				<xs:element name="RebD" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>