Xsd2/Country.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="charazay">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="country">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="flag" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="division">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="level" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="lh" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="countryid" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="country_info">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ntcoach">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element ref="user" />
                        </xs:sequence>
                        <xs:attribute name="bot" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="u21ntcoach">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element ref="user" />
                        </xs:sequence>
                        <xs:attribute name="bot" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="u18ntcoach">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element ref="user" />
                        </xs:sequence>
                        <xs:attribute name="bot" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="active" type="xs:string" use="required" />
                  <xs:attribute name="users" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="teams" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="waiting" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="supporters" type="xs:unsignedShort" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="user">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:unsignedInt" use="required" />
      <xs:attribute name="supporter" type="xs:string" use="required" />
      <xs:attribute name="registered" type="xs:unsignedInt" use="required" />
      <xs:attribute name="last_active" type="xs:unsignedInt" use="required" />
      <xs:attribute name="teamid" type="xs:unsignedShort" use="required" />
      <xs:attribute name="countryid" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>