Xsd2/DivisionSchedule.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="charazay">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="schedule">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="round">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="match">
											<xs:complexType>
												<xs:attribute name="id" type="xs:unsignedInt" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="number" type="xs:unsignedByte" use="required" />
									<xs:attribute name="date" type="xs:unsignedInt" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>