Xsd2/Schedule.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="charazay">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="matches">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="match">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="teams">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="hometeam" type="xs:unsignedInt" />
													<xs:element name="hometeamname" type="xs:string" />
													<xs:element name="awayteam" type="xs:unsignedInt" />
													<xs:element name="awayteamname" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="id" type="xs:unsignedInt" use="required" />
									<xs:attribute name="date" type="xs:unsignedInt" use="required" />
									<xs:attribute name="round" type="xs:unsignedByte" use="required" />
									<xs:attribute name="season" type="xs:unsignedByte" use="required" />
									<xs:attribute name="spectators" type="xs:unsignedInt" use="required" />
									<xs:attribute name="vips" type="xs:unsignedInt" use="required" />
									<xs:attribute name="played" type="xs:string" use="required" />
									<xs:attribute name="homescore" type="xs:unsignedByte" use="required" />
									<xs:attribute name="awayscore" type="xs:unsignedByte" use="required" />
									<xs:attribute name="type" type="xs:unsignedByte" use="required" />
									<xs:attribute name="leagueid" type="xs:unsignedInt" use="optional" />
									<xs:attribute name="nationalcupid" type="xs:unsignedInt" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>