Xsd2/Transfers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="charazay">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="team_transfers">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="transfer">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="sellteam" type="xs:unsignedInt" />
										<xs:element name="buyteam" type="xs:unsignedInt" />
									</xs:sequence>
									<xs:attribute name="playerid" type="xs:unsignedInt" use="required" />
									<xs:attribute name="date" type="xs:unsignedInt" use="required" />
									<xs:attribute name="si" type="xs:unsignedInt" use="required" />
									<xs:attribute name="price" type="xs:unsignedInt" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>