Xsd2/UserInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="charazay">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="user">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="id" type="xs:unsignedInt" use="required" />
						<xs:attribute name="supporter" type="xs:string" use="required" />
						<xs:attribute name="registered" type="xs:unsignedInt" use="required" />
						<xs:attribute name="last_active" type="xs:unsignedInt" use="required" />
						<xs:attribute name="teamid" type="xs:unsignedInt" use="required" />
						<xs:attribute name="countryid" type="xs:unsignedByte" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>